<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    {{ template "navbar" }}

    <h1> About </h1>

    <h3> Name: {{.FirstName}} {{.LastName}} </h3>
    <h3> Institution: {{.Institution}} </h3>
    <h3> Country: {{.Country}} </h3>
    <h3> Profession: {{.Profession}} </h3>
    <h3> Company: {{.Company}} </h3>
</body>
</html>