<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ template "css_styles" }}
    <title>Update Blog</title>
</head>
<body>
    {{ template "navbar" }}

    <div class="container mt-4">
        <div class="card">
            <div class="card-header"> Update Blog </div>
            <div class="card-body">
                <form method="POST" class="form">
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="id_title" placeholder="Title" value="{{.Title}}">
                    </div>
                    <div class="mb-3">
                        <label for="id_body" class="form-label">Body</label>
                        <textarea name="body" class="form-control" id="id_body" rows="3">{{.Body}}</textarea>
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-sm btn-primary" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{ template "js_scripts" }}
</body>
</html>