<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ template "css_styles" }}
    <title>Delete Blog</title>
</head>
<body>
    {{ template "navbar" }}

    <div class="container mt-4">
        <div class="container mt-4">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <h3> Are you sure to delete this blog? </h3>
                    <a class="btn btn-sm btn-secondary" href="/">Discard</a>
                    <a class="btn btn-sm btn-danger" href="/blogs/delete/{{.Id}}">Delete</a>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

    {{ template "js_scripts" }}
</body>
</html>